body {
    background-color: whitesmoke;
}

body.estudios {
    background-color: pink;
}

.encabezado1 {
    text-align: center;
    color: white;
    background-color: pink;
    margin-top: -1%;
}

.sección1{
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-width:4px;
    margin-left: 20%;
    margin-right: 15%;
    display: flex;
    flex-wrap: nowrap;
}

.sección1 img {
    display: flex;
    width: 45%;
    height: 65%;
    padding: 5%;
}

.introducción {
    text-align: center;
    margin-left: 5px; 
    font-size: 30px;
    color: pink;
}

.sección2 {
    border-width:3px;
    padding: 10px;
    margin-right: 5%;
    height: 220px;
    color: black; 
    display: grid;
    justify-content: space-around;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header header"
    "tabla1 tabla2"; 
}

#titulo1 {
    text-align: center;
    margin-left: 5px; 
    font-size: 30px;
    color: white;
    background-color: pink;
}
  
#titulo2 {
    text-align: center;
}

.tablas {
    grid-area: header;  
}

.tabla1{
    grid-area: tabla1;
    margin-left: 65%;
}

.tabla2{
    grid-area: tabla2;
    margin-left: 15%;
}

.sección3{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

#titulo3 {
    text-align: center;
    margin-left: 5px; 
    font-size: 30px;
    color: white;
    background-color: pink;
}

#textosec2 {
    margin-left: 20%;
    margin-right: 20%;
}

.encabezado2 {
    text-align: center;
    color: pink;
    background-color: white;
    margin-top: -1%;
}

.ESO{
    text-align: center;
    margin-left: 5px; 
    font-size: 20px;
    color: white;
}

.contenedor {
    border-width:4px;
    margin-left: 20%;
    margin-right: 15%;
    display: flex;
    flex-wrap: nowrap;
}

.texto-izq {
    border-width:4px;
    margin: 5px; 
    color: white;
    text-align: center;
}

.mapa{
    width: 450px;
    height: 300px;
}

.infoes {
    text-align: center;
}

.titulo4 {
    background-color: white;
    color: pink;
    text-align: center;
}

.contenedor2 {
    border-width:4px;
    margin-left: 30%;
    margin-right: 20%;
    display: flex;
    flex-wrap: nowrap;
}

#textoest {
    text-align: center;
    color: white;
}