@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Platypi:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Racing+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: whitesmoke;
    font-family: "Playfair Display", serif;
}

body.estudios {
    background-color: pink;
    font-family: "Playfair Display", serif;
}

.encabezado1 {
    text-align: center;
    color: white;
    background-color: pink;
    margin-top: 0;
    font-family: "Playfair Display", serif;
}

.sección1{
    justify-content: center;
    align-items: center;
    text-align: justify;

    margin-left: 35%;
    margin-right: 20%; 
    display: flex;
    flex-wrap: nowrap;
    font-family: "Playfair Display", serif;
}

.sección1 img {
    display: flex;
    width: 45%;
    height: 65%;
    padding: 5%;
}

.tabla1,.tabla2, .tabla3 {
    font-family: "Playfair Display", serif;
}

.introducción {
    text-align: center;
    margin-left: 5px; 
    font-size: 30px;
    color: pink;
    font-family: "Playfair Display", serif;
}

#titulo1 {
    text-align: center;
    margin-left: 5px; 
    font-size: 30px;
    color: white;
    background-color: pink;
    font-family: "Playfair Display", serif;
}

.iconos {
    width: 35px;
    height: 35px;
    fill: palevioletred;
}
  
#titulo2 {
    text-align: center;
    font-family: "Playfair Display", serif;
}

.sección3{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: "Playfair Display", serif;
}

#titulo3 {
    text-align: center;
    margin-left: 5px; 
    font-size: 30px;
    color: white;
    background-color: pink;
    font-family: "Playfair Display", serif;
}

#textosec2 {
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Playfair Display", serif;
}

.encabezado2 {
    text-align: center;
    color: pink;
    background-color: white;
    margin-top: 0;
    font-family: "Playfair Display", serif;
}

.ESO{
    text-align: center;
    margin-left: 5px; 
    font-size: 20px;
    color: white;
    font-family: "Playfair Display", serif;
}

.contenedor {
    border-width:4px;
    margin-left: 20%;
    margin-right: 15%;
    display: flex;
    flex-wrap: nowrap;  
    font-family: "Playfair Display", serif;
}

.texto-izq {
    border-width:4px;
    margin: 5px; 
    color: white;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.mapa{
    width: 450px;
    height: 300px;
}

.infoes {
    text-align: center;
    font-family: "Playfair Display", serif;
}

.titulo4 {
    background-color: white;
    color: pink;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.contenedor2 {
    border-width:4px;
    margin-left: 30%;
    margin-right: 20%;
    display: flex;
    flex-wrap: nowrap;
    font-family: "Playfair Display", serif;
}

#textoest {
    text-align: center;
    color: white;
    font-family: "Playfair Display", serif;
}

.encabezado3 {
    text-align: center;
    color: white;
    background-color: pink;
    margin-top: 0;
    font-family: "Playfair Display", serif;
}

.contenedor {
    border-width:4px;
    margin-left: 20%;
    margin-right: 15%;
    display: flex;
    flex-wrap: nowrap;
    font-family: "Playfair Display", serif;
}

#textoex {
    text-align: center;
    color: pink; 
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Playfair Display", serif;
}

.titulo5 {
    background-color: pink;
    color: white;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.texto-izq2 {
    border-width:4px;
    margin: 5px; 
    color: pink;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.final {
    background-color: pink;
    text-align: center;
    margin-top: 3%;
}

.final2 {
    background-color: white;
    text-align: center;
    margin-top: 3%;
}

@media only screen and (max-width: 700px) {
    .encabezado1 {
        width: 100%;
        height: 100%;
    }

    .sección1 {
        margin-left: 25px;
        text-align: center;
        align-items: center;
        margin-right: 10px;
    }

    
}