body {
    background-color: whitesmoke;
}

.encabezado1 {
    text-align: center;
    color: white;
    background-color: pink;
    margin-top: -1%;
}

.sección1{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.sección1 img {
    display: flex;
    width: 45%;
    height: 65%;
    padding: 5%;
}

.introducción {
    text-align: center;
    margin-left: 5px; 
    font-size: 30px;
    color: pink;
}

.sección2 {
    border-width:3px;
    padding: 10px;
    margin: auto;
    display: flex;
}

.titulo1 {
    text-align: center;
    margin-left: 5px; 
    font-size: 25px;
    color: pink;
}

.tabla {
    box-sizing: border-box;
    color: black;
    padding-left: 3%;

}

.texto1 {
    padding-left: 7%;
}

.sección3{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo2 {
    text-align: center;
    margin-left: 5px; 
    font-size: 30px;
    color: white;
    background-color: pink;
}