<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudios</title>
    <link  rel="stylesheet" href="../css/estilos.css">

</head>
<body class="estudios">
    <header class="encabezado2">
        <h2>Estudios</h2>
        <a href="../view/en/education.html"><p>En inglés</p></a>
    </header>

    <div>
        <h2 class="titulo4">Estudios ESO</h2>
    </div>

    <div class="contenedor">
        <div class="texto-izq">
            <h2>Jesuïtes Bellvitge - Centre d'Estudis Joan XXIII</h2>
            <p class="infoes">2022 - Educación Secundaria Obligatoria</p>
            <p class="infoes">Dirreción: Av. Mare de Déu de Bellvitge, 100, 110</p>
            <p class="infoes">Ubicación: L'Hospitalet de Llobregat, Barcelona</p>
            <p class="infoes">Correo: info.joan23@fje.edu</p>
            <p class="infoes">Telefono: 933 351 543</p>

        </div>
        <div class="mapa">
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1128636251597!2d2.104722275531952!3d41.349900498320515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d&#39;Estudis%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1712830665186!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>       
        </div>
    </div>

    <div>
        <h2 class="titulo4">Estudios GFGM</h2>
    </div>

<div class="contenedor">
    <div class="mapa">
        <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1128636251597!2d2.104722275531952!3d41.349900498320515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d&#39;Estudis%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1712830665186!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>       
    </div>

    <div class="texto-izq">
        <h2>Jesuïtes Bellvitge - Centre d'Estudis Joan XXIII</h2>
        <p class="infoes">Cursando - GFGM Sistemes Microinformàtics i xarxes </p>
        <p class="infoes">Dirreción: Av. Mare de Déu de Bellvitge, 100, 110</p>
        <p class="infoes">Ubicación: L'Hospitalet de Llobregat, Barcelona</p>
        <p class="infoes">Correo: info.joan23@fje.edu</p>
        <p class="infoes">Telefono: 933 351 543</p>

    </div>
</div>

</body>
</html>