<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia</title>
    <link  rel="stylesheet" href="../css/estilos.css">

</head>
<body>
    <header class="encabezado3">
        <h2>Experiencia</h2>
        <a href="../view/en/education.html"><p>En inglés</p></a>
    </header>

    <div>
        <h2 class="titulo5">Practicas GFGM</h2>
        <p id="textoex">Realice las practicas de grado medio en la empresa Sonepar, en esta empresa realice 390 horas y tome el cargo de IT y Helpdesk Desktop. Durante estas horas realice montaje y desmontaje de equipos, instalación de sistemas operativos y soporte tecnico.</p>
    </div>

    <div class="contenedor">
        <div class="texto-izq2">
            <h2>Sonepar | SSCC Región Noreste y Delegación Barcelona</h2>
            <p class="infoes">2023-2024 - FCT GFGM</p>
            <p class="infoes">Dirreción: Carrer Santander, 124</p>
            <p class="infoes">Ubicación: Sant Andreu, 08030 Barcelona</p>
            <p class="infoes">Correo: barcelona@sonepar.es</p>
            <p class="infoes">Telefono: 933 084 748</p>

        </div>
        <div class="mapa">
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2991.223917013548!2d2.205423875536467!3d41.434362793080844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4bdefe6afc8c7%3A0x317fff9bacc741f2!2sSonepar%20%7C%20SSCC%20Regi%C3%B3n%20Noreste%20y%20Delegaci%C3%B3n%20Barcelona!5e0!3m2!1ses!2ses!4v1714564421926!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
    </div>
</body>
</html>